In [118]:
key_value = {'name' : 'Ovais' , 'Education' : 'Engineer' ,'Age' : 36,
             'Subject' : {'AI': 70 , 'Python':80 ,'CSS':90} , 'Company':'Al-Saadat'}

print(type(key_value))
key_value.keys()
key_value.values()
key_value.get('Education')
key_value.get('Subject')['Python']

<class 'dict'>

80

In [119]:
key_value['Nature of Bussiness'] = 'Building Material'
print(key_value)

{'name': 'Ovais', 'Education': 'Engineer', 'Age': 36, 'Subject': {'AI': 70, 'Python': 80, 'CSS': 90}, 'Company': 'Al-Saadat', 'Nature of Bussiness': 'Building Material'}

In [120]:
key_value.update({'Roll No' : 14 , 'Address':'Saadi Town'})
key_value.values()

dict_values(['Ovais', 'Engineer', 36, {'AI': 70, 'Python': 80, 'CSS': 90}, 'Al-Saadat', 'Building Material', 14, 'Saadi Town'])

# Assignment Practice

In [121]:
empty_list = []
print(type(empty_list))
print(empty_list)

<class 'list'>
[]

In [122]:
list1 = ['Ovais','Salman','Eshal','Saad','Anas','Maria']
n = len(list1)
print(n)

6

In [123]:
first_item = list1[0]
last_item = list1[-1]
middle_item = list1[len(list1) // 2]

print("First Element is :" , first_item)
print("Last Element is :" , last_item)
print("Middle Element is :" , middle_item)

First Element is : Ovais
Last Element is : Maria
Middle Element is : Saad

In [124]:
mixed_data_types = ['Ovais',36,5.9,'Married','Saadi Town']
print(mixed_data_types)

['Ovais', 36, 5.9, 'Married', 'Saadi Town']

In [125]:
IT_companies = ['Facebook', 'Google','Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(IT_companies)
print(len(IT_companies))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7

In [126]:
first_company = IT_companies[0]
last_company = IT_companies[-1]
middle_company = IT_companies[len(IT_companies) //2 ]

print(first_company)
print(last_company)
print(middle_company)

Facebook
Amazon
Apple

In [127]:
IT_companies[2] = 'Sidat Haider'
print(IT_companies)

['Facebook', 'Google', 'Sidat Haider', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [128]:
IT_companies.append('Gmail')
IT_companies.append('Yahoo')
print(IT_companies)

['Facebook', 'Google', 'Sidat Haider', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Gmail', 'Yahoo']

In [129]:
print(IT_companies)
middle_index = len(IT_companies) // 2

print(middle_index)
IT_companies.insert(middle_index , 'Al-Saadat')
print(IT_companies)

['Facebook', 'Google', 'Sidat Haider', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Gmail', 'Yahoo']
4
['Facebook', 'Google', 'Sidat Haider', 'Apple', 'Al-Saadat', 'IBM', 'Oracle', 'Amazon', 'Gmail', 'Yahoo']

In [130]:
print(IT_companies)
IT_companies[2]=IT_companies[2].upper()
IT_companies[3] = IT_companies[3].upper()
print(IT_companies)

['Facebook', 'Google', 'Sidat Haider', 'Apple', 'Al-Saadat', 'IBM', 'Oracle', 'Amazon', 'Gmail', 'Yahoo']
['Facebook', 'Google', 'SIDAT HAIDER', 'APPLE', 'Al-Saadat', 'IBM', 'Oracle', 'Amazon', 'Gmail', 'Yahoo']

In [131]:
IT_companies.sort()
print(IT_companies)

['APPLE', 'Al-Saadat', 'Amazon', 'Facebook', 'Gmail', 'Google', 'IBM', 'Oracle', 'SIDAT HAIDER', 'Yahoo']

In [132]:
IT_companies.reverse()
print(IT_companies)

['Yahoo', 'SIDAT HAIDER', 'Oracle', 'IBM', 'Google', 'Gmail', 'Facebook', 'Amazon', 'Al-Saadat', 'APPLE']

In [133]:
it_companies_slicing = IT_companies[:3]
print(it_companies_slicing)

['Yahoo', 'SIDAT HAIDER', 'Oracle']

In [134]:
it_companies_slicing = IT_companies[-3:]
print(it_companies_slicing)

['Amazon', 'Al-Saadat', 'APPLE']

In [135]:
IT_companies.reverse()
print(IT_companies)

['APPLE', 'Al-Saadat', 'Amazon', 'Facebook', 'Gmail', 'Google', 'IBM', 'Oracle', 'SIDAT HAIDER', 'Yahoo']

In [136]:
IT_companies.pop()
print(IT_companies)

['APPLE', 'Al-Saadat', 'Amazon', 'Facebook', 'Gmail', 'Google', 'IBM', 'Oracle', 'SIDAT HAIDER']

In [137]:
IT_companies[len(IT_companies) // 2]

'Gmail'

In [138]:
IT_companies.pop(0)
print(IT_companies)

['Al-Saadat', 'Amazon', 'Facebook', 'Gmail', 'Google', 'IBM', 'Oracle', 'SIDAT HAIDER']

In [139]:
IT_companies.pop(-1)
print(IT_companies)

['Al-Saadat', 'Amazon', 'Facebook', 'Gmail', 'Google', 'IBM', 'Oracle']

In [140]:
len(IT_companies) // 2

3

In [141]:
IT_companies.pop(3)
print(IT_companies)

['Al-Saadat', 'Amazon', 'Facebook', 'Google', 'IBM', 'Oracle']

In [142]:
IT_companies.clear()
print(IT_companies)

[]

In [143]:
del IT_companies
print(IT_companies)

NameError: name 'IT_companies' is not defined

In [147]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

full_stack = front_end + back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [148]:
full_stack.insert(5 ,'Python')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB']

In [149]:
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [150]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [151]:
ages.sort()

In [153]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [155]:
min_ages = min(ages)
max_ages = max(ages)
print(min_ages)
print(max_ages)

19
26

In [156]:
ages.append(4)

In [157]:
ages.append(30)

In [160]:
ages.append(17)
ages.sort()
print(ages)

[4, 17, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 30]

In [161]:
len(ages)

13

In [164]:
length = len(ages)
median = ages[len(ages) // 2]

print("The Median age is :" ,median )

The Median age is : 24

In [166]:
n = len(ages)
sum_ages = sum(ages)

print("The Avg Age is :" , sum_ages//n)

The Avg Age is : 21

In [169]:
max_range = max(ages)
min_range = min(ages)

Range_of_ages = max_range - min_range

print("Min Age is:" , min_range)
print("MAx Age is :" , max_range)
print("The Range of the ages is:" , Range_of_ages)

Min Age is: 4
MAx Age is : 30
The Range of the ages is: 26

In [173]:
print(ages)
min_age = min(ages)
max_age = max(ages)
avg_age = sum(ages) / len(ages)
# Absolute Diff using ABS

diff_abs_min = abs(min_age - avg_age)
diff_abs_max = abs(max_age - avg_age)

if diff_abs_min > diff_abs_max :
    print("The Absolute min avg is Greater")
elif diff_abs_min < diff_abs_max:
    print("The Absolute Max avg is Greater")
else:
    print("The Absolute Min and Max avg are Equal")

[4, 17, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 30]
The Absolute min avg is Greater

In [185]:
countries =['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print("The Middle Country is :" , countries[len(countries) //2])

mid_point = len(countries) // 2 +1
first_half = countries[:mid_point]
second_half = countries[mid_point:]

print("The First Half Countries are:" , first_half)
print("The Second Half Countries are:" , second_half)

The Middle Country is : Finland
The First Half Countries are: ['China', 'Russia', 'USA', 'Finland']
The Second Half Countries are: ['Sweden', 'Norway', 'Denmark']

In [181]:
countries =['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark','Pakistan']
print("The Middle Country is :" , countries[len(countries) //2])

mid_point = len(countries) // 2 
first_half = countries[:mid_point]
second_half = countries[mid_point:]

print("The First Half Countries are:" , first_half)
print("The Second Half Countries are:" , second_half)

The Middle Country is : Sweden
The First Half Countries are: ['China', 'Russia', 'USA', 'Finland']
The Second Half Countries are: ['Sweden', 'Norway', 'Denmark', 'Pakistan']

In [192]:
print(countries)

first , second , third , *Scandic = countries
print('The First Country is :' , first)
print('The Second Country is :' , second)
print('The Third Country is :' , third)
print('The Scandic Countries are :' , Scandic)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
The First Country is : China
The Second Country is : Russia
The Third Country is : USA
The Scandic Countries are : ['Finland', 'Sweden', 'Norway', 'Denmark']

# Tuples

In [194]:
tuple1 = ()
print(type(tuple1))
print(tuple1)

<class 'tuple'>
()

In [195]:
siblings = ('Anas' ,'Saad','Shayan','Maria','Javeria')
print("Siblings are :" , siblings)

Siblings are : ('Anas', 'Saad', 'Shayan', 'Maria', 'Javeria')

In [197]:
brothers = ('Anas','Saad','Shayan')
sisters = ('Maria','Javeria')

siblings = brothers + sisters
print(siblings)

('Anas', 'Saad', 'Shayan', 'Maria', 'Javeria')

In [200]:
siblings_numbers = len(siblings)
print("I have" ,siblings_numbers ,'siblings')

I have 5 siblings

In [202]:
parents = ('Shafeeq' , 'Farzana')

family_members = parents + siblings
print('My Family Member Name is :' , family_members)

My Family Member Name is : ('Shafeeq', 'Farzana', 'Anas', 'Saad', 'Shayan', 'Maria', 'Javeria')

In [204]:
print(family_members)
father , mother , *siblings = family_members
print('My Father Name is :' , father)
print('My Mother Name is :' , mother)
print('My Sibling Name are :' , siblings)

('Shafeeq', 'Farzana', 'Anas', 'Saad', 'Shayan', 'Maria', 'Javeria')
My Father Name is : Shafeeq
My Mother Name is : Farzana
My Sibling Name are : ['Anas', 'Saad', 'Shayan', 'Maria', 'Javeria']

In [208]:
fruits = ('Banana','Apple','Mango')
vagetable = ('Garlic','Chilli','Potato')
animal_product = ('Badam','Pista','Buiscuit','Lal Mirch')

food_stuff_tp = fruits + vagetable + animal_product
print(food_stuff_tp)
print(type(food_stuff_tp))

('Banana', 'Apple', 'Mango', 'Garlic', 'Chilli', 'Potato', 'Badam', 'Pista', 'Buiscuit', 'Lal Mirch')
<class 'tuple'>

In [209]:
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)
print(type(food_stuff_lt))

['Banana', 'Apple', 'Mango', 'Garlic', 'Chilli', 'Potato', 'Badam', 'Pista', 'Buiscuit', 'Lal Mirch']
<class 'list'>

In [214]:
print(food_stuff_lt)

length = len(food_stuff_lt)

if length % 2 == 0:
    mid1 = food_stuff_lt[length //2 - 1]
    mid2 = food_stuff_lt[length // 2]
    print('The Middle Term is' , mid1, 'and' , mid2)
else:
    mid = food_stuff_lt[length // 2]
    print('The Middle Element is :' , mid)

['Banana', 'Apple', 'Mango', 'Garlic', 'Chilli', 'Potato', 'Badam', 'Pista', 'Buiscuit', 'Lal Mirch']
The Middle Term is Chilli and Potato

In [216]:
print('The Food Stuff List is :' ,food_stuff_lt)

first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]

print('The First Three Food Items are :' ,first_three)
print('The Last Three Food Items are :' ,last_three)

The Food Stuff List is : ['Banana', 'Apple', 'Mango', 'Garlic', 'Chilli', 'Potato', 'Badam', 'Pista', 'Buiscuit', 'Lal Mirch']
The First Three Food Items are : ['Banana', 'Apple', 'Mango']
The Last Three Food Items are : ['Pista', 'Buiscuit', 'Lal Mirch']

In [217]:
del food_stuff_tp
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

# Sets

In [219]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle','Amazon'}
print(len(it_companies))

7

In [222]:
it_companies.add('Twitter')
print(it_companies)
print(len(it_companies))

{'Oracle', 'Amazon', 'Microsoft', 'Google', 'IBM', 'Twitter', 'Apple', 'Facebook'}
8

In [229]:
multiple_companies = {'Sidat Haider','Rashid Food','Al-Saadat','NLC'}

it_companies.update(multiple_companies)
print(it_companies)
print(len(it_companies))

{'NLC', 'Twitter', 'Apple', 'Facebook', 'Rashid Food', 'Oracle', 'Amazon', 'Google', 'Al-Saadat', 'Sidat Haider', 'IBM'}
11

In [230]:
it_companies.remove('Microsoft')

KeyError: 'Microsoft'

In [236]:
it_companies.discard('Microsoft')
it_companies.discard('NLC')
print(it_companies)
print(len(it_companies))

{'Twitter', 'Apple', 'Facebook', 'Rashid Food', 'Oracle', 'Amazon', 'Google', 'Al-Saadat', 'Sidat Haider', 'IBM'}
10

In [238]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

joined_set = A.union(B)
print(joined_set)

{19, 20, 22, 24, 25, 26, 27, 28}

In [239]:
joined_intersec = A.intersection(B)
print(joined_intersec)

{19, 20, 22, 24, 25, 26}

In [240]:
del A
del B
del it_companies

In [242]:
print(A)

NameError: name 'A' is not defined

In [243]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [246]:
convert_age_to_set = set(age)
print(type(convert_age_to_set))

<class 'set'>

In [253]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24 , 27]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 27]

In [254]:
min_age = min(ages)
max_age = max(ages)
print('Minimum Age :' , min_age)
print('Maximum Age :' , max_age)

Minimum Age : 19
Maximum Age : 27

In [255]:
ages.append(2)
ages.append(31)
ages.sort()
print(ages)

[2, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 27, 31]

In [258]:
print(len(ages))
median_age = ages[len(ages) // 2]
print(median_age)

13
24

In [259]:
avg_age = sum(ages) // len(ages)

print("The Avg Age is : " , avg_age)

The Avg Age is :  22

In [260]:
max_age = max(ages)
min_age = min(ages)
range_of_age = max_age - min_age
print('The Avg Range of Age is:' , range_of_age)

The Avg Range of Age is: 29

In [261]:
empty_tp = ()
print(type(empty_tp))
print(empty_tp)

<class 'tuple'>
()

# DICT

In [265]:
personal = {'Name': input("Enter Your Name"), 'Age':int(input("Enter Your Age")),
            'Qualification':input("Enter Your Qualification"),'Marks':{'Python':input("Enter your Marks"),
                                                                       'Java':input("Enter Your Java Marks"),
                                                                       'CSS':input('Enter your CSS Marks')}}
print(type(personal))
print(personal)

<class 'dict'>
{'Name': 'ovais', 'Age': 37, 'Qualification': 'engineer', 'Marks': {'Python': '76', 'Java': '59', 'CSS': '88'}}

In [266]:
print(personal.get('Marks')['Java'])

59

In [267]:
print(personal.get('Marks')['Python'])

76

In [268]:
personal_1 = {'Occupation':'System Engineer' ,'Address':'Karachi' , 'Cell #':int(input('Enter your Cell No'))}
print(type(personal_1))
print(personal_1)

<class 'dict'>
{'Occupation': 'System Engineer', 'Address': 'Karachi', 'Cell #': 3122830873}

In [270]:
personal.update(personal_1)
print(personal)

{'Name': 'ovais', 'Age': 37, 'Qualification': 'engineer', 'Marks': {'Python': '76', 'Java': '59', 'CSS': '88'}, 'Occupation': 'System Engineer', 'Address': 'Karachi', 'Cell #': 3122830873}

In [271]:
personal_1.values()

dict_values(['System Engineer', 'Karachi', 3122830873])

In [272]:
personal.keys()

dict_keys(['Name', 'Age', 'Qualification', 'Marks', 'Occupation', 'Address', 'Cell #'])

In [273]:
personal.items()

dict_items([('Name', 'ovais'), ('Age', 37), ('Qualification', 'engineer'), ('Marks', {'Python': '76', 'Java': '59', 'CSS': '88'}), ('Occupation', 'System Engineer'), ('Address', 'Karachi'), ('Cell #', 3122830873)])

In [274]:
personal['Organization'] = 'Al-Saadat Construction'

In [275]:
personal.get('Organization')

'Al-Saadat Construction'

# Conditional Statement

In [279]:
name = input("Enter Your Name")

if len(name) <= 4:
    print("Your name is too short")
elif len(name) <=6:
    print('Your Name is Average')
else:
    print('Your Name is Long')
    
print("Your Name Length is", len(name),'Character. And Your Name is' , name ,'.' )

Your Name is Long
Your Name Length is 7 Character. And Your Name is SHafeeq .

In [282]:
num1 = float(input('Enter First Number'))
num2 = float(input('Enter Second Number'))
num3 = float(input('Enter Third Number'))

if num1 > num2 and num1 > num3:
    largerst = num1
elif num2 > num1 and num2 > num3:
    largerst = num2
else:
    largerst = num3
    
    
if  num1 < num2 and num1 < num3:
    smallest = num1
elif num2 < num1 and num2 < num3:
    smallest = num2
else:
    smallest = num3
    
print("The Largest Number is : ", largerst)
print('The Smallest Number is : ', smallest)

The Largest Number is :  9.0
The Smallest Number is :  2.0

In [ ]:
number = float(input('Enter Your Number'))

if number > 0:
    print("The Number is Positive")
elif number < 0:
    print("The Number is Negative")
else:
    print("The Number is Zero")

In [306]:
number = (input('Enter Your Number'))

if number.replace('.' ,'').replace('-','').replace('+','').isdigit():
    num = float(number)
    
    
    if num > 0:
        print("The Number is Positive")
    elif num < 0:
        print("The Number is Negative")
    else:
        print("The Number is Zero")
else:
    print("Invalid Input")

Invalid Input

In [314]:
email = input("Please Enter Your Email")
password = input("Enter Your Password")

if email == 'ovais@gmail.com' and password == '123456':
    print("Welcome to Dashboard")
elif email != 'ovais@gmail.com' and password == '123456':
    print("Please Enter Correct Email")
    email = input("Enter Your Email Again")
    if email == 'ovais@gmail.com' and password == '123456':
        print("Welcome to Dashboard after 1 attempt")
    else:
        print("Wrong Email,Please Remember your Email and then Type")
elif email == 'ovais@gmail.com' and password != '123456':
    print("Plesae Enter your Correct Password")
    password = input("Enter Your Password Again")
    if password == '123456':
        print("Welcom Dashboard after 01 attempt of Correct Password")
    else:
        print('You have Entered again incorrect Password,Now Go to Hell')
else:
    print("Please remember you Email and Password and try later")

Plesae Enter your Correct Password
Welcom Dashboard after 01 attempt of Correct Password

### take no of units from a consumer, if no of unit less then 150 per unit =15, fixed charges = 250 , if no of unit greater then 150 and less then 250 per unit charge = 25,fixed charges = 350 , if no of unit greater then 250 and less then 350 per unit charge = 35,fixed charges = 450 , if no of unit greater then 350 per unit charge = 45,fixed charges = 1000 ,  Total bill =amount_pay (no of unit consumed * cost of a unit ) + fixed charges .

In [316]:
units = int(input("Enter the number of unit consumed"))

if units <= 150:
    fixed_per_unit = 15
    fixed_charges = 250
elif units > 150 and units <= 250:
    fixed_per_unit = 25
    fixed_charges = 350
elif units > 250 and units <= 350:
    fixed_per_unit = 35
    fixed_charges = 450
else:
    fixed_per_unit = 45
    fixed_charges = 1000

total_bill = (units * fixed_per_unit) + fixed_charges
print('You have consumed' , units , 'units and Your Total Bill is' , total_bill)

You have consumed 723 units and Your Total Bill is 33535

### Menu Driven Program

In [319]:
option = input('''

1.Addition
2.Subtraction
3.Multiplication
4.Division''')

num1 = float(input("Enter your first Number"))
num2 = float(input("Enter your Second Number"))

if option == '1':
    print('The Sum of' , num1 , 'and' , num2, 'is =' , num1 + num2)
elif option == '2':
    print('The Subtraction of' , num1 , 'and' , num2, 'is =' , num1 - num2)
elif option == '3':
    print('The Product of' , num1 , 'and' , num2, 'is =' , num1 * num2)
elif option == '4':
    print('The Division of' , num1 , 'and' , num2, 'is =' , num1 / num2)
else:
    print("Select Numbers from a given List")

The Product of 5.0 and 6.0 is = 30.0

In [2]:
num = int(input("Enter Your Desire Number"))

i = 1
while i < 11:
    print(num, "*", i, "=", num * i)
    i += 1
print("My Required Table was just 1 to 10")

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
My Required Table was just 1 to 10

# Coffe Machine

In [3]:
print("Welcome to the Coffee Machine!")
print("Available options:")
print("1. Espresso - $2")
print("2. Latte - $3")
print("3. Cappuccino - $4")

menu = {
    "1": {"name": "Espresso", "price": 2},
    "2": {"name": "Latte", "price": 3},
    "3": {"name": "Cappuccino", "price": 4}
}

selection = input("Please enter the number of your choice: ")

if selection in menu:
    print(f"You selected {menu[selection]['name']}.")
    money_inserted = float(input(f"Please insert ${menu[selection]['price']} or more: "))

    if money_inserted >= menu[selection]['price']:
        change = money_inserted - menu[selection]['price']
        print(f"Enjoy your {menu[selection]['name']}!")
        if change > 0:
            print(f"Here is your change: ${change:.2f}")
    else:
        print("Insufficient funds. Transaction cancelled.")
else:
    print("Invalid selection. Please try again.")

Welcome to the Coffee Machine!
Available options:
1. Espresso - $2
2. Latte - $3
3. Cappuccino - $4
You selected Espresso.
Insufficient funds. Transaction cancelled.

# ATM Machine

In [ ]:
print("Welcome to the ATM System")

# Initial balance
balance = 1000.00

while True:
    print("\nPlease choose an option:")
    print("1. Display current balance")
    print("2. Deposit money")
    print("3. Withdraw money")
    print("4. Exit")

    choice = input("Enter your choice (1-4): ")

    if choice == "1":
        # Display balance
        print(f"Your current balance is: ${balance:.2f}")
    
    elif choice == "2":
        # Deposit money
        try:
            deposit_amount = float(input("Enter the amount to deposit: "))
            if deposit_amount > 0:
                balance += deposit_amount
                print(f"Deposit successful. Your new balance is: ${balance:.2f}")
            else:
                print("Invalid amount. Please enter a positive value.")
        except ValueError:
            print("Invalid input. Please enter a numeric value.")

    elif choice == "3":
        # Withdraw money
        try:
            withdraw_amount = float(input("Enter the amount to withdraw: "))
            if withdraw_amount > 0:
                if withdraw_amount <= balance:
                    balance -= withdraw_amount
                    print(f"Withdrawal successful. Your new balance is: ${balance:.2f}")
                else:
                    print("Insufficient funds.")
            else:
                print("Invalid amount. Please enter a positive value.")
        except ValueError:
            print("Invalid input. Please enter a numeric value.")

    elif choice == "4":
        # Exit the ATM
        print("Thank you for using the ATM. Goodbye!")
        break

    else:
        print("Invalid choice. Please select a valid option.")

In [ ]:
print("Welcome to ATM System")


balance_1 = 1000

while True:
    print("1. Check Balance")
    print("2. Withdraw Money")
    print("3. Deposit Money")
    print("4. Exit")
    choice = input("Enter your choice (1-4): ")
    if choice == "1":
        print("Your current balance is: ", balance_1)
    elif choice == "2":
        withdrawl_amount = float(input("Enter the amount to withdraw: "))
        if withdrawl_amount > 0:
            if withdrawl_amount <= balance_1:
                balance_1 -= withdrawl_amount
                print("Withdrawl Successfull ! Now your balance is:", balance_1)
            else:
                print("Insufficient Balance !")
        else:
            print("Invalid Amount ! Please enter a positive amount.")
    elif choice == "3":
        deposit_amount = float(input("Enter the amount to deposit: "))
        if deposit_amount > 0:
            balance_1 += deposit_amount
            print("Deposit Successfull ! Now your balance is:", balance_1)
        else:
            print("Invalid Amount ! Please enter a positive amount.")
    elif choice == "4":
        print("Thank you for using our ATM System !")
    break
else:
    print("Invalid choice ! Please enter a number between 1 and 4.")

In [ ]:
print("Welcome to ATM System")
Bal = 2000

while True:
    print("1. Check Balance")
    print("2. Cash Withdrawl")
    print("3. Deposit Money")
    print("4. Exit")
    
    opt = (input("Enter Your Choice (1-4)"))
    
    if opt == "1":
        print("Your Current Balance is:" ,Bal)
    elif opt == "2":
        cash_withdrawl = float(input("Please Enter the amount"))
        if cash_withdrawl > 0:
            if cash_withdrawl <= Bal:
                Bal -= cash_withdrawl
                print("Successfully Withdrawl! Now your remaining balance is :" ,Bal)
            else:
                print("Insufficent Balance!")
        else:
            print("Invalid Amount. Please Enter a positive Number")
    elif opt == "3":
        deposit_money = float(input("Enter the deposit Amount"))
        Bal += deposit_money
        print("After Deposited the Amout,Now your current Balance is:" ,Bal)
    elif opt == "4":
        print("Thankyou for using Askari ATM Machine")
    break
else:
    print("Invalid Option! Choose correct option")

In [12]:
print("Welcome to ATM System")

amount = 1000
while True:
    print("\n1. Check Balance")
    print("2. Withdraw")
    print("3. Deposit")
    print("4. Exit")
    choice = input("Enter your choice: ")
    if choice == "1":
        print(f"Your balance is {amount}")
    elif choice == "2":
        
        try:
            withdraw = int(input("Enter amount to withdraw: "))
            if withdraw > 0:
                if withdraw <= amount:
                    amount -= withdraw
                    print(f"Withdrawn {withdraw}. Remaining balance is {amount}")
                else:
                    print("Insufficient balance")
            else:
                print("Invalid amount. Please enter a positive value.")
        except ValueError:
            print("Invalid Input. Please enter a valid number.")
    elif choice == "3":
        deposit = int(input("Enter amount to deposit: "))
        if deposit > 0:
            amount += deposit
            print(f"Deposited {deposit}. New balance is {amount}")
        else:
            print("Invalid amount")
    elif choice == "4":
        print("Thank you for using our ATM system")
    break
else:
    print("Invalid choice")

Welcome to ATM System

1. Check Balance
2. Withdraw
3. Deposit
4. Exit
Invalid Input. Please enter a valid number.