In [1]:
print("This is a first class")

This is a first class

In [2]:
name = "we are learning Pyhton"

In [3]:
print(name)

we are learning Pyhton

# Data Types

## 1. Int
## 2. Str
## 3. flt
## 4. Bool

In [4]:
number =20
print(number)
print(type(number))

20
<class 'int'>

In [5]:
number =20.7
print(number)
print(type(number))

20.7
<class 'float'>

In [6]:
number ="Ovais"
print(number)
print(type(number))

Ovais
<class 'str'>

In [7]:
number =False
print(number)
print(type(number))

False
<class 'bool'>

In [8]:
name1 = 'ovais'
name2 = 'rashid'

print(name1 , name2)

ovais rashid

In [13]:
mass = 4
acce = 8.7
force =  mass * acce

print('Calculated  force is: ', force)

Calculated  force is:  34.8

In [16]:
print('The vale of Mass is' , mass)
print('The vale of Acce is' , acce)
print('The vale of Force is' , force)

The vale of Mass is 4
The vale of Acce is 8.7
The vale of Force is 34.8

In [19]:
print(mass)
print(type(mass))

print(acce)
print(type(acce))

print(mass*acce)
print(type(force))

4
<class 'int'>
8.7
<class 'float'>
34.8
<class 'float'>

# Task

################################Profilr##########################
Name = Ovais
Age =  25
Gender =
Designation = 
Occupation = 
Education =
Organization =

################################################################

In [2]:
# mass = 4
# acce = 8.7
# force =  mass * acce

# print('Calculated  force is: ', force)

mass = float(input("Enter the Value of Mass  "))
acce = float(input("Enter the Value of Mass  "))

force = mass *  acce
print('Calculated  force is: ', force)

Calculated  force is:  60.199999999999996

In [6]:
number = float(input("Enter the 1st Number :  "))
number1 = float(input("Enter the 2nd Number : "))

print("The 1st Number is :" ,number)
print("The 2nd Number is :" , number1)

result = number +  number1
print('The Sum of : ', result)

The 1st Number is : 19.0
The 2nd Number is : 15.0
The Sum of :  34.0

In [11]:
number = float(input("Enter the 1st Number :  "))
number1 = float(input("Enter the 2nd Number : "))

print("The 1st Number is :" ,number)
print("The 2nd Number is :" , number1)

result = number /  number1
print('The Reminder of : ', result)

The 1st Number is : 43.0
The 2nd Number is : 421.0
The Reminder of :  0.1021377672209026

# Power Function

In [1]:
number = float(input("Enter the Number :  "))
number1 = float(input("Enter the Power : "))

print("The Number is :" ,number)
print("The Power is :" , number1)

power = number **  number1
print('The Power of : ', power)

The Number is : 3.0
The Power is : 2.0
The Power of :  9.0

# Reminder Operator denote %

In [15]:
5 % 2

1

In [11]:
# Find data type of is_job and age
name , age , gender , education ,  occupation , income , marital_status , children , religion , language ,  is_job = 'Ovais' , 35 ,  'Male' , 'Bachelors' , 'Engineer' , 50000 , 'Married' , 1 , 'Islam' ,'Urdu' , True
print(type(is_job))
print(type(religion))

<class 'bool'>
<class 'str'>

# Lower and Upper Case

In [4]:
Ovais = '''Titanic, launched on May 31, 1911, and set sail on its maiden voyage from Southampton on April 10, 
      1912, with 2,240 passengers and crew on board. On April 15, 1912,
      after striking an iceberg, Titanic broke apart and sank to the bottom of the ocean, 
      taking with it the lives of more than 1,500 passengers and crew.'''

print(Ovais)

Ovais.upper()

Titanic, launched on May 31, 1911, and set sail on its maiden voyage from Southampton on April 10,
      1912, with 2,240 passengers and crew on board. On April 15, 1912,
      after striking an iceberg, Titanic broke apart and sank to the bottom of the ocean,
      taking with it the lives of more than 1,500 passengers and crew.

'TITANIC, LAUNCHED ON MAY 31, 1911, AND SET SAIL ON ITS MAIDEN VOYAGE FROM SOUTHAMPTON ON APRIL 10, \n      1912, WITH 2,240 PASSENGERS AND CREW ON BOARD. ON APRIL 15, 1912,\n      AFTER STRIKING AN ICEBERG, TITANIC BROKE APART AND SANK TO THE BOTTOM OF THE OCEAN, \n      TAKING WITH IT THE LIVES OF MORE THAN 1,500 PASSENGERS AND CREW.'

In [3]:
s = (3,4,5)

sum(s)

12