# Operators

### The basic types of Operators in Python:
1. Arithmetic Operators
2. Relationship Operator

In [15]:
print(2>3)
print((4<2))
print(4==4)

False
False
True

In [16]:
number1 = float(input("Enter number1 :"))
number2 = float(input("Enter number2 :"))

print("Number 1 is : " , number1)
print("Number 2 is : " , number2)

print("The result of the both numbers is : " , number1 !=  number2)  # This will print True or False based on the input

Number 1 is :  3.0
Number 2 is :  5.0
The result of the both numbers is :  True

In [17]:
number3 = float(input("Enter number3 :"))
number4 = float(input("Enter number4 :"))

print("Number 3 is : " , number3)
print("Number 4 is : " , number4)

print("The result of the both numbers is : " , number3 >=  number4)

Number 3 is :  6.0
Number 4 is :  7.0
The result of the both numbers is :  False

In [18]:
number5 = float(input("Enter number6 :"))
number6 = float(input("Enter number5 :"))

print("Number 3 is : " , number5)
print("Number 4 is : " , number6)

print("The result of the both numbers is : " , number5 <=  number6)

Number 3 is :  6.0
Number 4 is :  7.0
The result of the both numbers is :  True

In [19]:
number7 = float(input("Enter number7 :"))
number8 = float(input("Enter number8 :"))
number9 = float(input("Enter number9 :"))

print("Number 7 is : " , number7)
print("Number 8 is : " , number8)
print("Number 9 is : " , number9)

print("The result of the three numbers is : " , number7 >=  number8 !=  number9)

Number 7 is :  6.0
Number 8 is :  7.0
Number 9 is :  6.0
The result of the three numbers is :  False

# Logical Gates or Operator

In [20]:
number1 = True
number2 = False

number2 and number1

False

In [21]:
number1 = False
number2 = True

number2 and number1

False

In [22]:
number1 = True
number2 = False

number2 or number1

True

In [23]:
number1 = bool(input("Enter number1 :"))
number2 = bool(input("Enter number2 :"))

print("Number 1 is : " , number1)
print("Number 2 is : " , number2)

print("The result of 2 inputs of AND gate is : " , number1 and number2)

Number 1 is :  True
Number 2 is :  True
The result of 2 inputs of AND gate is :  True

In [24]:
number1 = bool(input("Enter number1 :"))
number2 = bool(input("Enter number2 :"))

print("Number 1 is : " , number1)
print("Number 2 is : " , number2)

print("The result of 2 inputs of OR gate is : " , number1 or number2)

Number 1 is :  True
Number 2 is :  True
The result of 2 inputs of OR gate is :  True

# Assignment Operators

In [25]:
number = 10
number +=5
number

15

In [26]:
number = 10
number = number +5
number

15

In [27]:
number = int(input("Enter the 1st number :"))
number2 = int(number + 21)

number2

28

## Special Operator

In [28]:
a = 5
b = 5
a==b  # Basic comparision operator

True

In [29]:
a = 5
b = 5

a is b

True

In [30]:
a = 5
b = 4

a is b

False

In [31]:
a = 5
b = 4

a is not b

True

In [32]:
a = 5
b = 5

a is not b

False

In [33]:
a = "Passage describes the act of passing or traveling from one place to the next. People often use the word passage to specifically refer to a journey by ship, as in, The passage to America was long and hard."

b = "Passage describes the act of passing or traveling from one place to the next. People often use the word passage to specifically refer to a journey by ship, as in, The passage to America was long and hard."

a is b

False

In [34]:
c = "Passage describes the act of passing or traveling from one place to the next. People often use the word passage to specifically refer to a journey by ship, as in, The passage to America was long and hard. A section of written work or music can also be called a passage."
c = "Passage describes the act of passing or traveling from one place to the next. People often use the word passage to specifically refer to a journey by ship, as in, The passage to America was long and hard. A section of written work or music can also be called a passage."

print(id(c))
print(id(c))

c is not c

2561271726448
2561271726448

False

### Membership Operator

In [35]:
# in
# in not

fruits = "apple"
'a' in fruits

True

In [36]:
# in
# in not

fruits = "apple"
's' not in fruits

True

In [37]:
name = ["ovais" , 'rashid',"ahmed"]
"ovais" not in name

False

# Assignment:

In [38]:
name = input("Enter your Full Name :")
print("My Full Name is :" , name)

# full_name = (name)
'Syed' not in  name

My Full Name is : bnvhvj

True

# Data Types :
#### 1. List
#### 2. tuple
#### 3. Dictionary
#### 4. Set

In [39]:
# List is a collection of Data and  it is ordered and changeable.[multible  data type]
# Declaring an empty List
fruits = []
print(type(fruits))
print("Declaring an empty List: ",  fruits)

<class 'list'>
Declaring an empty List:  []

In [40]:
fruits = ["mango",'Banana','Cherry','Avacado', 'Dragon']
print(type(fruits))
print(fruits)
print(len(fruits))

<class 'list'>
['mango', 'Banana', 'Cherry', 'Avacado', 'Dragon']
5

In [41]:
# Adding elements in list by using append and insert
fruits.append('Apple')
print(fruits)

['mango', 'Banana', 'Cherry', 'Avacado', 'Dragon', 'Apple']

In [42]:
fruits.append("Dragon Fruits")
print(fruits)

['mango', 'Banana', 'Cherry', 'Avacado', 'Dragon', 'Apple', 'Dragon Fruits']

# Indexing always start  from 0 to onwords:

In [43]:
print(fruits[1])
print(fruits[3])
# print(fruits[])
print(fruits[:]) # Inclusive : Exclusive
print(fruits[1:5])
print(fruits[0:6:2])
print(fruits[2:7:2])

Banana
Avacado
['mango', 'Banana', 'Cherry', 'Avacado', 'Dragon', 'Apple', 'Dragon Fruits']
['Banana', 'Cherry', 'Avacado', 'Dragon']
['mango', 'Cherry', 'Dragon']
['Cherry', 'Dragon', 'Dragon Fruits']

In [44]:
print(fruits[1:5])

['Banana', 'Cherry', 'Avacado', 'Dragon']

In [45]:
list = [100,200,300, 400,500]
print(type(list))
print(list)

list.append(600)
print(list)
print(list[-4:-1])

<class 'list'>
[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500, 600]
[300, 400, 500]

# Negative Indexing:

In [46]:
print(fruits[-1])
print(fruits[-5:-2])
print(fruits[-6:-1:2])
print(fruits[-6::2])

Dragon Fruits
['Cherry', 'Avacado', 'Dragon']
['Banana', 'Avacado', 'Apple']
['Banana', 'Avacado', 'Apple']

In [48]:
print(len(fruits))
print(fruits)

7
['mango', 'Banana', 'Cherry', 'Avacado', 'Dragon', 'Apple', 'Dragon Fruits']

# Insert Function:

In [53]:
fruits.insert(3,'Appricot')
print(fruits)

['mango', 'Banana', 'Cherry', 'Appricot', 'Avacado', 'Dragon', 'Apple', 'Dragon Fruits']

In [11]:
fruits.insert(5,'water melon')
print(fruits)
len(fruits)

['mango', 'Banana', 'Appricot', 'Cherry', 'Avacado', 'water melon', 'Dragon', 'Apple', 'Dragon Fruits']

9

# POP always delete an element from the end:

In [54]:
fruits.pop()
print(fruits)

['mango', 'Banana', 'Cherry', 'Appricot', 'Avacado', 'Dragon', 'Apple']

In [49]:
fruits.pop(1)
print(fruits)

['mango', 'Cherry', 'Avacado', 'Dragon', 'Apple', 'Dragon Fruits']

In [55]:
# pop always use for indexing number as an int
fruits.pop(0)
print(fruits)

['Banana', 'Cherry', 'Appricot', 'Avacado', 'Dragon', 'Apple']

In [56]:
# Remove function always use remove elements as in str
fruits.remove('Apple')
print(fruits)

['Banana', 'Cherry', 'Appricot', 'Avacado', 'Dragon']

In [15]:
fruits_in_summer = ["mango" , 'kiwi','melon']
fruits.append(fruits_in_summer)
print(fruits)

['Banana', 'Appricot', 'Avacado', 'water melon', 'Dragon', 'Apple', ['mango', 'kiwi', 'melon']]

In [19]:
print(fruits[5])
print(fruits[6])
print(fruits[6][1:])  #  Accessing the second element of the list at index 6
print(fruits[6][1])
print(fruits[6][0::2])

Apple
['mango', 'kiwi', 'melon']
['kiwi', 'melon']
kiwi
['mango', 'melon']

In [52]:
print(fruits)

['mango', 'Cherry', 'Avacado', 'Dragon', 'Apple', 'Dragon Fruits']

In [ ]:
# Count Function is used for how many times element  is present in the list
fruits.count('mango')
fruits.count('Banana')
print(fruits.count('Dragon'))

1

In [61]:
fruits[3].count('melon')
print(fruits[3].count('melon'))

0

In [36]:
# Reverse Function is  used to reverse the string

fruits.reverse()
print(fruits)

[['mango', 'kiwi', 'melon'], 'Apple', 'Dragon', 'water melon', 'Avacado', 'Appricot', 'Banana']