In [10]:
fav_fruits = [['papaya','grapefruit','apple','banana','mango'] ,'gava','apple','dragon fruit','water melon',['blueberry','orange','pineapple']]

In [5]:
fav_fruits.count('apple')

1

In [11]:
fav_fruits.remove('apple')
print(fav_fruits)

[['papaya', 'grapefruit', 'apple', 'banana', 'mango'], 'gava', 'dragon fruit', 'water melon', ['blueberry', 'orange', 'pineapple']]

In [7]:
fav_fruits.clear()
print(fav_fruits)

[]

In [12]:
fav_fruits.reverse()
print(fav_fruits)

[['blueberry', 'orange', 'pineapple'], 'water melon', 'dragon fruit', 'gava', ['papaya', 'grapefruit', 'apple', 'banana', 'mango']]

In [13]:
fav_fruits[4][1]

'grapefruit'

In [27]:
# Membership Operator
'Apple' in fav_fruits

False

In [28]:
'apple' in fav_fruits

True

In [29]:
'avacado' not in fav_fruits

True

In [31]:
'papaya' in fav_fruits

False

In [32]:
'papaya' in fav_fruits[0]

True

### Mutable is changeable
### Immutable is unchangeable

# Tuple

In [14]:
numbers = (1,  2, 3 ,3, 3,3, 4, 6, 7, 8)
print(numbers)

(1, 2, 3, 3, 3, 3, 4, 6, 7, 8)

In [22]:
print(type(numbers))

<class 'tuple'>

In [23]:
numbers[1]

2

In [27]:
numbers.count(3)

4

In [2]:
number1 = (19,12,23,11,25,26)
print(number1)

(19, 12, 23, 11, 25, 26)

In [47]:
# Concatination of two Tuples
number_list = numbers + number1
print(number_list)
print(type(number_list))

(1, 2, 3, 3, 3, 4, 6, 7, 8, 19, 12, 23, 11, 25, 26)
<class 'tuple'>

In [49]:
# Show me an error
number1-numbers

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [48]:
number1*3

(19, 12, 23, 11, 25, 26, 19, 12, 23, 11, 25, 26, 19, 12, 23, 11, 25, 26)

In [50]:
# Example
'5' * 3

'555'

In [51]:
# Example
5*3

15

In [19]:
number1 = (19,12,23,11,25,26)
print(number1)

(19, 12, 23, 11, 25, 26)

In [47]:
# To find in this index what is the number there
number1[0]

19

In [7]:
# Index Function: We are  going to use the index function to find the index of the element in the list.
number1.index(19)

0

In [11]:
number1.index(23)

2

In [15]:
fruits_1 = ['PineApple', 'gava' ,  'Mango']

In [16]:
fruits = ('Apple', 'Banana' ,  'Cherry')
print(fruits)

('Apple', 'Banana', 'Cherry')

In [17]:
new_fruits = fruits_1.append(fruits)
print(new_fruits)

None

In [34]:
number1

(19, 12, 23, 11, 25, 26)

In [ ]:
sorted(number1)

[11, 12, 19, 23, 25, 26]

In [ ]:
sorted(number1, reverse=False)
sorted(number1, reverse=True)

[26, 25, 23, 19, 12, 11]

In [30]:
sorted(number1,reverse=False)

[11, 12, 19, 23, 25, 26]

In [25]:
numbers = (1,2,3,4,4,5,6,7,8,9,10)

In [28]:
numbers.count(4)

2

In [48]:
num1 , num2, num3 = (5,7,25)
print(type(num1))
print(num1,num2,num3)

<class 'int'>
5 7 25

In [49]:
num1 = (5,7,25)
print(num1)
print(type(num1))

(5, 7, 25)
<class 'tuple'>

# Unpacking Method

In [31]:
num1, *others = (5,7,25)
print(type(others))
print(others)
print(num1)

<class 'list'>
[7, 25]
5

# what is set? and represent {}

In [33]:
# Empty sets curly brces is called Dict
name ={}
type(name)
# If i want to declare empty sets:
name1 = set()
print(type(name1))

<class 'set'>

In [5]:
# Unordered sets

s ={8,3,5,5,9}
print(s)

{8, 9, 3, 5}

In [ ]:
# Set is mutable and only contain immutable data type rakh sakta hai apny ander.list index nahi rakh sakta
s1 ={5,3,3,4,(4,7)}
print(s1)

{5, 3, 4, (4, 7)}

In [7]:
# 0 is equal to False and 1 is equal to True
s2 = {1,"Ovais" , 2.4, False}
print(s2)

{False, 1, 'Ovais', 2.4}

In [15]:
s2 = {0,"Ovais" , 2.4, False}
print(s2)

{0, 'Ovais', 2.4}

In [9]:
fruits = ["Apple",'Banana',"Mango"]
print(fruits)

['Apple', 'Banana', 'Mango']

In [11]:
# Convert to Sets
fruits =set(["Apple",'Banana',"Mango"])
fruits
print(type(fruits))

<class 'set'>

In [42]:
s1 = {1,2,3,4}
s2 = {4,3,2,1,}
s1 == s2

True

In [43]:
s2

{1, 2, 3, 4}

In [18]:
# Accesing Element (In a Set indexing not allowed )
print(s2[0])

TypeError: 'set' object is not subscriptable

In [19]:
# Adding Index Value is Sets

s2[0]= 'banana'

TypeError: 'set' object does not support item assignment

In [39]:
# Adding element in set function

S = {8,7,6,5}
S
# Adding in Sets in a single value
S.add(4)
S
# Adding in sets  with multiple values

S.update([3,2,1])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
ovais = {"Syed" , "Muhammad" ,"Saad"}
ovais.add("Shafeeq")
print(ovais)

ovais.update({'Syeda' , 'Eshal' , 'Fatima'})
print(ovais)

{'Saad', 'Muhammad', 'Shafeeq', 'Syed'}
{'Saad', 'Eshal', 'Fatima', 'Syeda', 'Syed', 'Muhammad', 'Shafeeq'}

In [42]:
name = {"Salman"}
print(name)

ovais.update(name)
print(ovais)

{'Salman'}
{'Saad', 'Eshal', 'Fatima', 'Syeda', 'Salman', 'Syed', 'Muhammad', 'Shafeeq'}

In [43]:
# Delete any element is the set
ovais.pop()
print(ovais)

{'Eshal', 'Fatima', 'Syeda', 'Salman', 'Syed', 'Muhammad', 'Shafeeq'}

In [44]:
ovais.remove('Syeda')
print(ovais)

{'Eshal', 'Fatima', 'Salman', 'Syed', 'Muhammad', 'Shafeeq'}

In [45]:
ovais.discard('Salman')
print(ovais)

{'Eshal', 'Fatima', 'Syed', 'Muhammad', 'Shafeeq'}

In [48]:
ovais.clear()
print(ovais)

set()

# Operation in a Set

In [49]:
# Union (|)
s3= {2,3,4,5,6}
s4= {3,4,5,10,12,13}
print(s3|s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [53]:
# Insection (&)
print(s3&s4)
print(type(s4))

{3, 4, 5}
<class 'set'>

In [54]:
# Difference ( - )
print(s3 - s4)

{2, 6}

In [55]:
print(s4 - s3)

{10, 12, 13}

## Symmetric Difference (^)
## The symmetric difference of two sets A and B is the set of elements which are in either A or  B, but not in their intersection.

In [57]:
print(s3^s4)
print(s4^s3)

{2, 6, 10, 12, 13}
{2, 6, 10, 12, 13}

In [62]:
# Membership

6 in s3
11 not in s4

True

In [63]:
# len/sum/min/max/sorted

s = {9,2,3,8,5,6,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

7
40
2
9
[2, 3, 5, 6, 7, 8, 9]

In [46]:
# Union / Update

s1 = {3,4,5,2,7,1}
s2 = {3,6,4,9,2,6,8}

s3 = s1.union(s2)
print(s3)
print(s1)

s1.update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 6, 8, 9}

In [ ]:
# isdisadjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {}

In [65]:
# Frozen Sets
fs1 = frozenset([1,2,3])
fs2 = frozenset([4,5,6])
print(fs1|fs2)

# Frozen set  operations set ko immutable banata hai

frozenset({1, 2, 3, 4, 5, 6})

In [67]:
fs1 = frozenset([1,2,3,4])
fs2 = frozenset([4,5,6])
print(fs1&fs2)

frozenset({4})