# Quiz No 1

### Answer No 1 is : b

In [1]:
#What is the output of the following code? 
my_list = [1, 2, 3, 4] 
my_list.append([5, 6]) 
print(len(my_list))

5

### Answer No 2 is : b (Tuples can contain duplicate elements)

### Answer No 3 is: b

In [2]:
my_set = {1, 2, 2, 3, 4}
print(len(my_set))

4

### Answer No 4 is : b (Hello)

In [2]:
x = "Hello"
y = x
y += " World"
print(x)

Hello

### Answer No 5 is : None of these

### Answer No 6 is : C

In [5]:
set_a = {1, 2, 3}
set_b = {3, 4, 5} 
result = set_a.union(set_b) 
print(result)

{1, 2, 3, 4, 5}

####  Answer No 7 is: Mutable Data Types:
##### Mutable data types can be modified after they are created.
##### Examples: Lists, dictionaries, and sets.
##### Characteristics:
##### Elements can be added, removed, or changed.
##### Memory allocation may change if the structure grows or shrinks.
##### Immutable Data Types:
##### Definition: Immutable data types cannot be changed after they are created.
##### Examples: Tuples, strings, and frozensets.
##### Characteristics:
##### Any modification results in the creation of a new object.
##### More memory-efficient in certain contexts, and safer from unintended changes.

### Answer No 8 is :

In [6]:
# Given list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 27]

ages.sort()

# Find the minimum and maximum ages
min_age = min(ages)
max_age = max(ages)

# Add the min and max ages to the list
ages.append(min_age)
ages.append(max_age)


# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of the ages
age_range = max_age - min_age

# Print results
print("Sorted Ages:", ages)
print("Minimum Age:", min_age)
print("Maximum Age:", max_age)
print("Average Age:", average_age)
print("Range of Ages:", age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 27, 19, 27]
Minimum Age: 19
Maximum Age: 27
Average Age: 23.153846153846153
Range of Ages: 8

### Answer No 9 (1) is:

In [8]:
# Creating an empty tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

### Answer No 9 (2):

In [10]:
siblings = ("Anas", "Saad", "Maria", "Javeria")
print(siblings)

('Anas', 'Saad', 'Maria', 'Javeria')

### Answer No 9 (3) :

In [11]:
brothers = ("Anas", "Saad")
sisters = ("MAria", "Javeria")

siblings = brothers + sisters

print(siblings)

('Anas', 'Saad', 'MAria', 'Javeria')

### Answer No 9 (4):

In [12]:
siblings = ("Anas", "Saad", "Maria", "Javeria")
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

Number of siblings: 4

### Answer No 9 (5):

In [13]:
siblings = ("Anas", "Saad", "Maria", "Javeria")

# Creating tuples for father and mother
father = ("Shafeeq",)
mother = ("Farzana",)
family_members = siblings + father + mother
print(family_members)

('Anas', 'Saad', 'Maria', 'Javeria', 'Shafeeq', 'Farzana')

### Answer No 9 (6):

In [14]:
family_members = ('Anas', 'Saad', 'Maria', 'Javeria', 'Shafeeq', 'Farzana')

siblings, father, mother = family_members[:4], family_members[4], family_members[5]

print("Siblings:", siblings)  
print("Father:", father)      
print("Mother:", mother)

Siblings: ('Anas', 'Saad', 'Maria', 'Javeria')
Father: Shafeeq
Mother: Farzana