# Assignments # 02
### Created By : Syed Muhammad Ovais
### Created On : 03-11-2024
### Email : ovais.shafiq1987@gmail.com
### Contact # 0312-2830873

### 1. List :
##### Question 1

In [1]:
empty_list = []
print(empty_list)
print(type(empty_list))

[]
<class 'list'>

##### Question 02

In [2]:
list_1 = ['apple','banana','orange','kiwi','gava','mango','appricot']
print(list_1)

['apple', 'banana', 'orange', 'kiwi', 'gava', 'mango', 'appricot']

##### Question 03

In [3]:
print(len(list_1))

7

##### Question 04

In [5]:
print(list_1)
first_item = list_1[0]
last_item = list_1[-1]
print(first_item)
print(last_item)

middle_item = list_1[len(list_1) // 2]
print(middle_item)

['apple', 'banana', 'orange', 'kiwi', 'gava', 'mango', 'appricot']
apple
appricot
kiwi

##### Question 05

In [11]:
mixed_data_types =  ['Ovais', 35, 5.9, 'Married', 'Saadi Town']
print(mixed_data_types)

['Ovais', 35, 5.9, 'Married', 'Saadi Town']

##### Question 06

In [102]:
IT_companies =['Facebook', 'Google', 
'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]

print(IT_companies)
print(len(IT_companies))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7

##### Question 07

In [103]:
first_company = IT_companies[0]
last_company = IT_companies[-1]
middle_company = IT_companies[len(IT_companies) //2 ]

print(first_company)
print(last_company)
print(middle_company)

Facebook
Amazon
Apple

##### Question 08

In [104]:
print(IT_companies)
# Modify one of the Company, Replace Microsoft with Sidat Haider
IT_companies[2] = 'Sidat Haider'
print(IT_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Sidat Haider', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### Question 09

In [105]:
print(IT_companies)
IT_companies.append('Twitter')
IT_companies.append('Yahoo')
print(IT_companies)

['Facebook', 'Google', 'Sidat Haider', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Sidat Haider', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter', 'Yahoo']

##### Question 10

In [106]:
print(IT_companies)
middle_index = len(IT_companies) // 2
print(middle_index) 

IT_companies.insert(middle_index , 'Wikipedia')
print(IT_companies)

['Facebook', 'Google', 'Sidat Haider', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter', 'Yahoo']
4
['Facebook', 'Google', 'Sidat Haider', 'Apple', 'Wikipedia', 'IBM', 'Oracle', 'Amazon', 'Twitter', 'Yahoo']

##### Question 11

In [107]:
print(IT_companies)
# Change 'Google' to Upper Case
IT_companies[1] = IT_companies[1].upper()
IT_companies[3] = IT_companies[3].upper()
IT_companies[6] = IT_companies[6].upper()
print(IT_companies)

['Facebook', 'Google', 'Sidat Haider', 'Apple', 'Wikipedia', 'IBM', 'Oracle', 'Amazon', 'Twitter', 'Yahoo']
['Facebook', 'GOOGLE', 'Sidat Haider', 'APPLE', 'Wikipedia', 'IBM', 'ORACLE', 'Amazon', 'Twitter', 'Yahoo']

##### Question 12

In [108]:
IT_companies.sort()
print(IT_companies)

['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']

##### Question 13

In [109]:
print(IT_companies)
IT_companies.reverse()
print(IT_companies)

['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']
['Yahoo', 'Wikipedia', 'Twitter', 'Sidat Haider', 'ORACLE', 'IBM', 'GOOGLE', 'Facebook', 'Amazon', 'APPLE']

##### Question 14

In [110]:
(IT_companies).reverse()
print(IT_companies)

first_three_companies = IT_companies[:3]
print(first_three_companies)

['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']
['APPLE', 'Amazon', 'Facebook']

##### Question 15

In [111]:
print(IT_companies)

last_three_companies = IT_companies[-3:]
print(last_three_companies)

['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']
['Twitter', 'Wikipedia', 'Yahoo']

Question 16

In [6]:
IT_companies = ['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']

# Calculate the length of the list
n = len(IT_companies)

# Check if the list length is odd or even
if n % 2 == 1:
    # If odd, get the single middle element
    middle = IT_companies[n // 2]
    middle_companies = [middle]
else:
    # If even, get the two middle elements
    middle1 = IT_companies[(n // 2) - 1]
    middle2 = IT_companies[n // 2]
    middle_companies = [middle1, middle2]

print("Middle company or companies:", middle_companies)

Middle company or companies: ['IBM', 'ORACLE']

##### Question 17

In [8]:
print(IT_companies)

# Remove first Element in the List
IT_companies.pop(0)
print(IT_companies)

['Amazon', 'Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']
['Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']

##### Question 18

In [114]:
print(IT_companies)
# Find the Middle Value of the List
mid_company = len(IT_companies)//2
print(mid_company)

# Remove the middle index which is index 4
IT_companies.pop(mid_company)
print(IT_companies)

['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'ORACLE', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']
5
['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']

##### Question 19

In [115]:
print(IT_companies)
IT_companies.pop(-1)
print(IT_companies)

['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'Sidat Haider', 'Twitter', 'Wikipedia', 'Yahoo']
['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'Sidat Haider', 'Twitter', 'Wikipedia']

##### Question 20

In [118]:
print(IT_companies)

# Remove all the companies from the list
IT_companies.clear()
print(IT_companies)

['APPLE', 'Amazon', 'Facebook', 'GOOGLE', 'IBM', 'Sidat Haider', 'Twitter', 'Wikipedia']
[]

##### Question 21

In [120]:
print(IT_companies)
# Completely Destroy the List
del IT_companies
print(IT_companies)

[]

NameError: name 'IT_companies' is not defined

##### Question 22

In [121]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

full_stack = front_end + back_end
print("Full stack:", full_stack)

Full stack: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

##### Question 23 & 24

In [126]:
print(full_stack)

index = full_stack.index('Redux') + 1
print(index)
full_stack.insert(index,'Python')
print(full_stack)
full_stack.insert(index+1, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB']
5
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Python', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Python', 'Node', 'Express', 'MongoDB']

##### Question 25 , 26 & 27

In [131]:
ages = [19 , 22 , 19, 24, 20, 25, 26, 24, 25, 24]
# Sort the List
ages.sort()
print(ages)
min_age = min(ages)
max_age = max(ages)

print("Minimum Age is : " , min_age)
print("Maximum Age is : " , max_age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age is :  19
Maximum Age is :  26

##### Question 28

In [134]:
print(ages)

ages.append(9)
ages.append(29)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 9]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 9, 9, 29]

In [135]:
ages.sort()
print(ages)

[9, 9, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 29]

##### Question 29

In [140]:
print(ages)
length = len(ages)
print(length)

median = ages[length // 2]
print("Median Age is :" , median)

[9, 9, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 29]
13
Median Age is : 24

##### Question 30

In [142]:
print(ages)
# Find the Average Age

avg_age = sum(ages) / len(ages)

print("The Average Age is : ", avg_age)

[9, 9, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 29]
The Average Age is :  21.153846153846153

##### Question 31

In [144]:
print(ages)

min_age = min(ages)
max_age = max(ages)

age_range = max_age - min_age

print("Minimum Age is : " , min_age)
print("Maximum Age is : " , max_age)
print("Age range is : " , age_range)

[9, 9, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 29]
Minimum Age is :  9
Maximum Age is :  29
Age range is :  20

##### Question 32

In [146]:
print(ages)

min_age = min(ages)
max_age = max(ages)
average_age = sum(ages) / len(ages)

# Calculate the absolute differences
diff_min_avg = abs(min_age - average_age)
diff_max_avg = abs(max_age - average_age)

# Compare the values
print("Min - Average:", diff_min_avg)
print("Max - Average:", diff_max_avg)

if diff_min_avg > diff_max_avg:
    print("The absolute difference (min - average) is greater.")
elif diff_min_avg < diff_max_avg:
    print("The absolute difference (max - average) is greater.")
else:
    print("The absolute differences are equal.")

[9, 9, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 29]
Min - Average: 12.153846153846153
Max - Average: 7.846153846153847
The absolute difference (min - average) is greater.

##### Question 33

In [150]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(countries)

n = len(countries)
middle_country = countries[n // 2]

print("The Middle Country is :" , middle_country)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
The Middle Country is : Finland

##### Question 34

In [161]:
print(countries)

# Calculate the midpoint
midpoint = (len(countries) + 1) // 2  # +1 ensures the first half is larger if odd

# Split the list into two halves
first_half = countries[:midpoint]
second_half = countries[midpoint:]

print("First half:", first_half)
print("Second half:", second_half)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
First half: ['China', 'Russia', 'USA', 'Finland']
Second half: ['Sweden', 'Norway', 'Denmark']

##### Another Example

In [163]:
print(countries_1)

# Calculate the midpoint
midpoint = (len(countries_1)) // 2  # +1 ensures the first half is larger if odd

# Split the list into two halves
first_half = countries_1[:midpoint]
second_half = countries_1[midpoint:]

print("First half:", first_half)
print("Second half:", second_half)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark', 'Germany']
First half: ['China', 'Russia', 'USA', 'Finland']
Second half: ['Sweden', 'Norway', 'Denmark', 'Germany']

##### Question 35

In [164]:
print(countries)

# Unpack the first three countries and the rest as Scandic countries
first, second, third, *scandic_countries = countries

print("First country:", first)
print("Second country:", second)
print("Third country:", third)
print("Scandic countries:", scandic_countries)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

### 2. Tuple

##### Question 1

In [165]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

##### Question 2

In [181]:
siblings = ('Anas', 'Saad' , 'Shayan','Maria' , 'Javeria')
print("Siblings are :" ,siblings)

Siblings are : ('Anas', 'Saad', 'Shayan', 'Maria', 'Javeria')

##### Question 3

In [182]:
brothers = ('Anas' , 'Saad' , 'Shayan')
sisters = ('Maria' , 'Javeria')

siblings = brothers + sisters

print("Brothers are : " , brothers)
print("Sisters are : " , sisters)
print("All siblings are : " , siblings)

Brothers are :  ('Anas', 'Saad', 'Shayan')
Sisters are :  ('Maria', 'Javeria')
All siblings are :  ('Anas', 'Saad', 'Shayan', 'Maria', 'Javeria')

##### Question 4

In [183]:
number_of_siblings = len(siblings)

print("Number of Siblings are :" , number_of_siblings)

Number of Siblings are : 5

##### Question 5

In [184]:

parents = ('Shafeeq' , 'Farzana')
family_members = siblings + parents

print("Siblings are :" , siblings)
print("Family Members are :" , family_members)

Siblings are : ('Anas', 'Saad', 'Shayan', 'Maria', 'Javeria')
Family Members are : ('Anas', 'Saad', 'Shayan', 'Maria', 'Javeria', 'Shafeeq', 'Farzana')

##### Question 6

In [190]:
print(family_members)

# Unpack 

*siblings , father , mother =  family_members

print("Siblings are :", siblings)
print("Father is :" , father)
print("Mother is :" , mother)

('Anas', 'Saad', 'Shayan', 'Maria', 'Javeria', 'Shafeeq', 'Farzana')
Siblings are : ['Anas', 'Saad', 'Shayan', 'Maria', 'Javeria']
Father is : Shafeeq
Mother is : Farzana

##### Question 7

In [193]:
fruits = ("Apple", "Banana","Orange","Strawberry","Cherry")
vegetables = ("Egg Plant","Carrot","BEans","Potato")
animal_product = ('Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs')

food_stuff_tp = fruits + vegetables +  animal_product

print("Food Stuff are :" ,food_stuff_tp)

Food Stuff are : ('Apple', 'Banana', 'Orange', 'Strawberry', 'Cherry', 'Egg Plant', 'Carrot', 'BEans', 'Potato', 'Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs')

##### Question 8

In [196]:
print("Food Stuff Tuple : ", food_stuff_tp)
print(type(food_stuff_tp))

# Change tuple into List

food_stuff_lt = list(food_stuff_tp)
print("Food Stuff List is :" , food_stuff_lt)
print(type(food_stuff_lt))

Food Stuff Tuple :  ('Apple', 'Banana', 'Orange', 'Strawberry', 'Cherry', 'Egg Plant', 'Carrot', 'BEans', 'Potato', 'Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs')
<class 'tuple'>
Food Stuff List is : ['Apple', 'Banana', 'Orange', 'Strawberry', 'Cherry', 'Egg Plant', 'Carrot', 'BEans', 'Potato', 'Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs']
<class 'list'>

##### Question 9

In [199]:

print(food_stuff_tp)

# Calculate the midpoint
midpoint = len(food_stuff_tp) // 2
print(midpoint)

# Slice out the middle item or items
if len(food_stuff_tp) % 2 == 0:  # Even number of items
    middle_items = food_stuff_tp[midpoint - 1:midpoint + 1]
else:  # Odd number of items
    middle_items = food_stuff_tp[midpoint:midpoint + 1]

print("Middle item(s):", middle_items)

('Apple', 'Banana', 'Orange', 'Strawberry', 'Cherry', 'Egg Plant', 'Carrot', 'BEans', 'Potato', 'Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs')
7
Middle item(s): ('BEans',)

In [200]:
print(food_stuff_lt)

# Calculate the midpoint
midpoint_1 = len(food_stuff_lt) // 2
print(midpoint_1)

# Slice out the middle item or items
if len(food_stuff_lt) % 2 == 0:  # Even number of items
    middle_item = food_stuff_lt[midpoint_1 - 1:midpoint_1 + 1]
else:  # Odd number of items
    middle_item = food_stuff_lt[midpoint_1:midpoint_1 + 1]

print("Middle item(s):", middle_item)

['Apple', 'Banana', 'Orange', 'Strawberry', 'Cherry', 'Egg Plant', 'Carrot', 'BEans', 'Potato', 'Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs']
7
Middle item(s): ['BEans']

##### Question 10

In [201]:
print(food_stuff_lt)

# Slice out the first three items
first_three = food_stuff_lt[:3]

# Slice out the last three items
last_three = food_stuff_lt[-3:]

print("First three items:", first_three)
print("Last three items:", last_three)

['Apple', 'Banana', 'Orange', 'Strawberry', 'Cherry', 'Egg Plant', 'Carrot', 'BEans', 'Potato', 'Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs']
First three items: ['Apple', 'Banana', 'Orange']
Last three items: ['shellfish', 'dairy', 'eggs']

##### Question 11

In [203]:
print(food_stuff_tp)

del food_stuff_tp
print(food_stuff_tp)

('Apple', 'Banana', 'Orange', 'Strawberry', 'Cherry', 'Egg Plant', 'Carrot', 'BEans', 'Potato', 'Meat', 'poultry', 'fish', 'shellfish', 'dairy', 'eggs')

NameError: name 'food_stuff_tp' is not defined

### 3. Set

##### Question 1

In [205]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}

len(it_companies)

7

##### Question 2

In [207]:
print(it_companies)
it_companies.add("Twitter")
print(it_companies)

{'IBM', 'Facebook', 'Oracle', 'Amazon', 'Microsoft', 'Apple', 'Google'}
{'IBM', 'Twitter', 'Facebook', 'Oracle', 'Amazon', 'Microsoft', 'Apple', 'Google'}

##### Question 3

In [209]:
print(it_companies)

new_companies = {"Intel","Cisco","Shopify","Daraz","Ali Baba"}

it_companies.update(new_companies)
print(it_companies)

{'IBM', 'Twitter', 'Facebook', 'Oracle', 'Amazon', 'Microsoft', 'Apple', 'Google'}
{'Shopify', 'Facebook', 'Oracle', 'Microsoft', 'Apple', 'Intel', 'Google', 'Ali Baba', 'Daraz', 'Twitter', 'Amazon', 'Cisco', 'IBM'}

##### Question 4

In [210]:
print(it_companies)

it_companies.remove("Amazon")

print("Set After removing  Amazon: ", it_companies)

{'Shopify', 'Facebook', 'Oracle', 'Microsoft', 'Apple', 'Intel', 'Google', 'Ali Baba', 'Daraz', 'Twitter', 'Amazon', 'Cisco', 'IBM'}
Set After removing  Amazon:  {'Shopify', 'Facebook', 'Oracle', 'Microsoft', 'Apple', 'Intel', 'Google', 'Ali Baba', 'Daraz', 'Twitter', 'Cisco', 'IBM'}

##### Question 5

##### The remove() method will raise an error if the element is not found, while discard() will not raise an error.

##### Question 6

In [212]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

joined_sets = A.union(B)

print("Joined Sets using Union() :" , joined_sets)

Joined Sets using Union() : {19, 20, 22, 24, 25, 26, 27, 28}

In [213]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

joined_sets = A | B

print("Joined Sets using | Method :" , joined_sets)

Joined Sets using | Method : {19, 20, 22, 24, 25, 26, 27, 28}

##### Question 7

In [214]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

joined_sets = A.intersection(B)

print("Intersection using intersection() :" , joined_sets)

Intersection using intersection() : {19, 20, 22, 24, 25, 26}

In [215]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

joined_sets = A & B

print("Intersection using & :" , joined_sets)

Intersection using & : {19, 20, 22, 24, 25, 26}

##### Question 8

In [216]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

is_subset = A.issubset(B)

print("Is A a subset of B ? :" , is_subset)

Is A a subset of B ? : True

##### Question 9

In [217]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

are_disjoint = A.isdisjoint(B)

print("Are A and B Disjoint ? :" , are_disjoint)

Are A and B Disjoint ? : False

##### Question 10

In [218]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

join_A_with_B = A.union(B)

join_B_with_A = B.union(A)

print("Join A with B :" , join_A_with_B)
print("Join B with A :" , join_B_with_A)

Join A with B : {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A : {19, 20, 22, 24, 25, 26, 27, 28}

##### Question 11

In [219]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
# Symmetric Difference
symm_diff = A.symmetric_difference(B)

print("Symmetric difference using symmetric_difference():", symm_diff)

Symmetric difference using symmetric_difference(): {27, 28}

##### Question 12

In [222]:
print(A)
print(B)

del A
del B

print(A)
print(B)

NameError: name 'A' is not defined

##### Question 13

In [228]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(type(age))

# Convert list to a set

age_set = set(age)
print(type(age_set))

# Compare the length of the list and a set
list_length = len(age)
set_length = len(age_set)

print("Length of the List is :" , list_length)
print("Length of the Set is :" ,  set_length)

# Which One is Bigger

if list_length > set_length:
    print("The list is bigger.")
elif set_length > list_length:
    print("The set is bigger.")
else:
    print("The list and the set are of the same length.")

<class 'list'>
<class 'set'>
Length of the List is : 8
Length of the Set is : 5
The list is bigger.

##### Question 14

### 1. String
##### Definition: A string is a sequence of characters enclosed in single quotes ('...'), double quotes ("..."), or triple quotes ('''...''' or """..."""). Characteristics: Immutable: Once a string is created, it cannot be changed. Any operation that modifies a string will create a new string. Indexed: Strings can be indexed to access individual characters.

### 2. List
##### Definition: A list is an ordered collection of items, which can be of different data types, enclosed in square brackets ([...]).
##### Characteristics:
##### Mutable: Lists can be modified after their creation. You can add, remove, or change items.
##### Indexed: Like strings, lists are indexed and allow access to elements by their position.

### 3. Tuple
##### Definition: A tuple is similar to a list, but it is immutable and is defined by enclosing items in parentheses ((...)). Characteristics: Immutable: Once a tuple is created, its contents cannot be changed. Any modification will create a new tuple. Ordered: Tuples maintain the order of elements. Indexed: Tuples can be indexed to access individual elements.

### 4. Set
##### Definition: A set is an unordered collection of unique items, defined by enclosing items in curly braces ({...}) or using the set() constructor. Characteristics: Mutable: Sets can be modified by adding or removing items, but the items themselves must be immutable (e.g., you cannot add a list to a set). Unordered: The items in a set do not have a defined order, and indexing does not apply. Unique Elements: Sets automatically remove duplicates.